.App {
  background-image: url("../../img/looper.svg");
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 15vmin;
}

.App-header {
  background-image: url("../../img/looper.svg");
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#cityOutput {
  text-decoration: none; /* Убираем подчеркивание */
  border-bottom: 2px dashed rgb(173, 173, 173); /* Добавляем свою линию */ 
}

#cityOutput:hover {
  color: rgb(173, 173, 173);
}

#cityOutput:visited {
  color: #fff;
}

